<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">CycleK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="exercise.jsp">Exercise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="diet.jsp">Diet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="meal.jsp">Meal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="stats.jsp">Stats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="social.jsp">Social</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <i class="bi bi-person fs-4 icon-color icon-margin" onclick="window.location.href=PROFILE"></i>
        <i class="bi bi-box-arrow-right fs-4 icon-color" onclick="logOut()"></i>
      </li>
    </ul>
  </div>
</nav>