/* Custom styles for the buttons */
.navbar .btn {
    margin-left: 10px; /* Spacing between buttons */
}

.background {
    background-image: url("../../resources/homepage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    color: white;
}