
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #A5DD9B;
}

form {
    width: 28%;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    margin-top: 150px;
    box-shadow: 0.5rem 0.5rem #81ac75;
}

.btn-primary {
    width: 100%;
    border: none;
    border-radius: 50px;

    box-shadow: 0.25rem 0.25rem #4a4848;
}

.form-control {
    color: rgba(0, 0, 0, .87);
    border: none;
    border-bottom: 1px solid;
    border-bottom-color: rgba(0, 0, 0, .42);
    box-shadow: none !important;
    border-radius: 4px 4px 0 0;
}

h4 {
    font-size: 2rem !important;
    font-weight: 700;
}

.link-center {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

.link-center:hover {
    text-decoration: underline;
}

.error {
    border-color: red; /* Set border color to red */
}

.error-message {
    color: red;
    margin-top: 5px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    form {
        width: 100% !important;
    }

}