#socialk{
    color:  #A5DD9B;

    text-shadow: 0.3rem 0.3rem #76a470;
    -webkit-text-stroke: 1px white;
    font-weight: bold;
    font-size: 4rem;
}

body {
     background: #c6b9ff !important;
}


.sticky-element {
    position: sticky;
    top: 0;
    /*   background: linear-gradient(to left, #da08ec, #0a51d9);*/
    padding: 10px;
    z-index: 100; /* Ensures it stays on top of other content */
    border-radius: 30px; /* Makes the corners rounded */

}

#social-header {
    display: flex;
    flex: 3;
    flex-direction: row; /* Change to column direction */
    margin: 0 auto;


}
.card-header{
    display: flex;
    justify-content: space-between;
}
.user-header{

    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    margin-top: 50px; /* Adjust this value to match the height of your sticky element */
    padding: 10px;
    display: flex;
    flex: 3;
    flex-direction: row; /* Change to column direction */


}

.list-group {
    margin: 10px;
}

.head-button {
    border-color: #9bc47e
}

#newPostCard {
    margin: 0 auto;
    max-width: 40rem;
    flex: 2;
}




#postsContainer {
    flex: 2;

}

.pressed {
    color: red;
    text-shadow: 3px 3px darkred;

}

.icon {
    color: gray !important;
    text-shadow: 3px 3px darkgray;
}

.icon:hover {

    color: #A5DD9B !important;
}

#body-post, #my-post {
    display: none;

}
.postCard{
    box-shadow: 0.5rem 0.5rem #9C92CBFF;

}
#add-post {
    position: fixed; /* Make the button sticky */
    bottom: 20px; /* Position it 20px from the bottom */
    right: 20px; /* Position it 20px from the right */
    border-radius: 50%; /* Make the button round */
    width: 60px; /* Set the width of the button */
    height: 60px; /* Set the height of the button */
    font-size: 24px; /* Increase the font size */
    background-color:  #A5DD9B;
    box-shadow: 0.5rem 0.5rem #76a470;
}



.commentDiv {
    display: flex;
    flex-direction: row;


}
.commentText{
    display: flex;
    justify-content: space-between;

}
.commentCollapse{


}

.comment-input{
    border: #2f2f32;
    flex: 8;
    padding: 5px;

}

.send-comment{
    flex: 2;
}



